*{
    margin: 0;
    padding: 0;
}

/* Estilização do Relógio */

.relogio{
    max-width: 450px;
    margin: 150px auto 0;
}

/* Imagem de fundo */

body{
    background-image: url("https://images.unsplash.com/photo-1494888427482-242d32babc0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    z-index: -999;
}
